<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Home</title>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="text-center">
      <h1 class="text-4xl font-bold">Welcome to the App 🎉</h1>
      <div class="space-x-4 mt-12">
        <a
          href="/register"
          class="px-4 py-2 bg-green-500 text-white rounded transition-transform duration-300 hover:bg-green-600"
          >Get Registered</a
        >
        <a
          href="/registerProduct"
          class="px-4 py-2 bg-green-500 text-white rounded transition-transform duration-300 hover:bg-green-600"
          >Register Product</a
        >
      </div>
    </div>
  </body>
</html>
